@import '~bootstrap-scss/bootstrap.scss';

.hmd {
    width: 150px;
    height: 80px;
    background-color: white;
    border: 1px solid #F0F9F9;
    text-align: center;
    box-shadow: 3px 7px 10px -9px rgba(0,0,0,0.75);
    transition: box-shadow 0.1s ease-in-out;

    @include media-breakpoint-down(md) {
        width: 100px;
        height: 70px;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 10px -9px rgba(0,0,0,0.75);
    }

    &__logo {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // line-height: 8.5rem;
        color: black;
        font-weight: bold;
        // -webkit-text-stroke-width: .5px;
        // -webkit-text-stroke-color: white;
        @include media-breakpoint-down(md) {
            font-size: 7pt;
        }
    }
}