<div class="container">
  <div class="overview">
    <div class="row">
      <div class="col-lg-3">
        <compositor (selected)="updateImage($event)" (range)="selectRange($event)"></compositor>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-2">
            <div class="viewselector">
              <div class="viewselector__view"  *ngFor="let v of viewOptions" (click)="selectView(v.id)" [class.selected]="selectedView === v.id">{{v.name}}</div>
            </div>
          </div>
          <div class="col-lg-10">
            <img [src]="illustration" width="100%">
          </div>
        </div>

        <div class="specssheet">
          <div class="specssheet" *ngIf="selectedRange.specs">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Key</th>
                  <th scope="col">Value</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of selectedRange.specs">
                  <th scope="col">{{item.name}}</th>
                  <td scope="col" *ngIf="!item.convert_miles" class="value">{{item.value}}{{item.unit}}</td>
                  <td scope="col" *ngIf="item.convert_miles" class="value">{{item.value | miles}}{{item.unit}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>